body{
    padding: 0;
    margin:  0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body, html{
    width: 100%;
    height: 100%;
}
.logo-text{
    border-right: 1px solid #E6E6E6;
    padding-right: 10px;
    display: flex;
    align-items: center;
    
}
.logo-img{
    margin-bottom: 3px;
}
.chart{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
.form-field{
    margin-top: 1rem;
    
}
input{
    border:2px solid #E6E6E6;
    border-radius: 5px;
    width: 20rem;
    padding: 4px 6px;
}
.search{
    height: 2vw;

    left: 2px;
}
.form-logo{
    position: absolute;
    left: 30px;
}
li{
    margin-bottom: 5px;
}
.purple-border{
    border-bottom: 2px solid #9285F6;
    
}
.form-setting-container{
    border-radius: 5px;
}
  

a:hover{
border-bottom: 2px solid #9285F6;
scroll-behavior: smooth;
transition: ease;
}
.center, .left, .right {
    height: 90vh;
}
.right{
    border-left:1px solid #E6E6E6 ;
}
.left{
    border-right:1px solid #E6E6E6 ;
}
.btn{
    margin-left: 8rem;
    display: flex;
    align-items: center;
    gap: 10px;
     background: linear-gradient(109.6deg, rgb(193, 98, 253) 11.2%, rgb(0, 49, 165) 91.1%);
     color: white;
     padding: 4px 8px;
     border-radius: 2px;
}
.left-list, .left-list-item{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.left-list-item{
    border-left: 2px solid #E6E6E6;
}